doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= pageTitle ? pageTitle + ' — ' + title : title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/shifume.1.0.0.css")
  body

    div.modal.fade#login-modal(tab-index="-1", role="dialog")
    div.modal-dialog
      div.loginmodal-container
        h1|Login to your account
        form(method="post")
          input(type="text", name="userid", placeholder="Username", required, autofocus)
          input(type="password", name="password", placeholder="Password", required)
          input.login.loginmodal-submit(type="submit", name="login", value="login")
