doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= pageTitle ? pageTitle + ' — ' + title : title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/shifume.1.0.0.css")
  body

    div.container
      p
        include _flashes
      form.form-signin(method='post')
        h2.form-signin-heading Please sign in
        label.sr-only(for="inputUserId") Id
        input#inputUserid.form-control(type="text", name="userid", placeholder="Id", required, autofocus)
        label.sr-only(for="inputPassword") Password
        input#inputPassword.form-control(type="password", name="password", placeholder="Password", required)
        div.checkbox
          label
            input(type="checkbox", value="remember-me")
            |Remember me
        button#loginButton.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
      form(action="/login/register")
        button#registerButton.btn.btn-lg.btn-primary.btn-block(type="submit") Register

div.text-center(style="padding:50px 0")
  div.logo
    |login
  div.login-form-1
      form#login-form.text-left
      div.login-form-main-message
      div.main-login-form
        div.login-group
          div.form-group
            label.sr-only(for="lg_username")
              |Username
            input.form-control#lg_username(type="text", name="lg_username", placeholder="username")
          div.form-group
            label.sr-only(for="lg_password")
              |Password
            input.form-control#lg_password(type="password", name="lg_password", placeholder="password")
          div.form-group.login-group-checkbox
            input#lg_remember(type="checkbox", name="lg_remember")
            label(for="lg_remember")
              |remember
        button.login-button(type="submit")
          i.fa.fa-chevron-right
      div.etc-login-form
        p
          |forgot your password? <a href="#">click here</a>
        p
          |new user? <a href="#">create new account</a>
