<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<p>Register</p>
<% include error %>
<form method="post">
    <input type="text" name="userid" id="userid" placeholder="User id">
    <input type="password" name="userpass" id="userpass" placeholder="Password">
    <input type="submit" value="Register"/>
</form>

</body>
</html>
