<p>
<div id="sequence">
    <img class="move_icon" id="move0" src="http://placehold.it/1x1" alt="move 0"/>
    <img class="move_icon" id="move1" src="http://placehold.it/1x1" alt="move 1"/>
    <img class="move_icon" id="move2" src="http://placehold.it/1x1" alt="move 2"/>
    <img class="move_icon" id="move3" src="http://placehold.it/1x1" alt="move 3"/>
    <img class="move_icon" id="move4" src="http://placehold.it/1x1" alt="move 4"/>
    <img class="move_icon" id="move5" src="http://placehold.it/1x1" alt="move 5"/>
    <img class="move_icon" id="move6" src="http://placehold.it/1x1" alt="move 6"/>
    <img class="move_icon" id="move7" src="http://placehold.it/1x1" alt="move 7"/>
    <img class="move_icon" id="move8" src="http://placehold.it/1x1" alt="move 8"/>
    <img class="move_icon" id="move9" src="http://placehold.it/1x1" alt="move 9"/>
</div>

<div id="move_selectors" style="display:none;">
    <img class="move_icon move_selector" data-selector="S" src="/img/scissor.jpg" alt="scissor"/>
    <img class="move_icon move_selector" data-selector="R" src="/img/rock.jpg" alt="rock"/>
    <img class="move_icon move_selector" data-selector="P" src="/img/paper.jpg" alt="paper"/>
</div>
<div>
    <button id="edit_sequence">Edit</button>
    <button id="done_sequence" style="display:none;">Done</button>
</div>
<div id="error_panel">

</div>
<script src="/js/sequence.js"></script>

</p>