<div>
<div id="participant_div">
    <div id="participant_list_div">
        <ul id="participant_list">

        </ul>
    </div>

    <input type="text" id="user_to_add" title="user_to_add">
    <button id="add_user_btn">Add user</button>
</div>
    <div>
        <button id="create_tournament">Create tournament</button>
    </div>
</div>
<script src="js/tournament_creator.js"></script>
